<div id="new_us_form_cont">
<div id="new_us_form">

<% remote_form_for @milestone, :url => {:controller => 'milestones', :action => "update", :project_id => @project.identifier},:html => { :method => :post} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label l('name') %><br />
    <%= f.text_field :target %>
  </p>
  <p>
    <%= f.label l('deadline') %><br />
    <%= f.text_field :deadline, :size => 10 %><%= calendar_for('milestone_deadline') %>
  </p>
  <p>
    <%= f.submit l("add"), :onclick => 'Modalbox.hide()' %>
  </p>
<% end %>

<%= wikitoolbar_for 'user_story_description' %>
</div>
</div>