<div class="sprints_fieldset">
  <div class="sprints_header">
    <%= link_to_function("<h3>#{l('stats')}</h3>", "Effect.toggle('stat_tab', 'blind');") %>
  </div>
  <div id="stat_tab" style="padding: 0; margin:0;">
    <table style="width: 100%;">
      <tr>
        <th><%= l('total_story_points') %></th>
        <th><%= l('pending') %></th>
        <th><%= l('in_progress') %></th>
        <th><%= l('done') %></th>
        <th><%= l('percent_done') %></th>
      </tr>
      <tr style="text-align: right;">
          <% data = load_project_stats(project) %>
          <td class="sprint_stats_total" >
            <img src="/plugin_assets/redmine_sprints/images/sum.png" alt="Suma" style=" vertical-align: bottom;"/>
            <%= data[:all_points] %>
          </td>
          <td>
            <img src="/plugin_assets/redmine_sprints/images/pending.png" alt="Oczekujące" style=" vertical-align: bottom;" />
            <%= data[:pending] %>
          </td>
          <td>
            <img src="/plugin_assets/redmine_sprints/images/inprogress.png" alt="W trakcie wykonywania" style=" vertical-align: bottom;" />
            <%= data[:in_progress] %>
          </td>
          <td>
            <img src="/plugin_assets/redmine_sprints/images/done.png" alt="Wykonane" style=" vertical-align: bottom;" />
            <%= data[:done] %>
          </td>
          <td class="sprint_stats_done">
            <%= sprintf("%.2f",data[:percent_done]) %>%
          </td>
      </tr>
    </table>
  </div>
</div>