<div class="sprint_stats">
<table class="unassigned_tasks">
  <tr class="unassigned_tasks_hd">
    <th><%= l('total_story_points') %></th>
    <th><%= l('done') %></th>
    <th><%= l('percent_done') %></th>
  </tr>
  <tr>
      <td class="sprint_stats_total">
        <%= @data[:all_points] %>
      </td>
      <td class="sprint_stats_done">
        <%= @data[:done] %>
      </td>
      <td class="sprint_stats_done">
        <%= @data[:percent_done] %>
      </td>
  </tr>
</table>
</div>
