<div id="<%= "task_wrap_#{task.id.to_s}" %>">
<div class="us_task" id="<%= "task_#{task.id}" %>">
<div class="<%= "the_task_#{task.status_id}" %>" >
<table>
  <tr>
    <td class="task_center" colspan="2">
      <%= link_to task.subject, {:controller => "issues", :action => "show", :id => task.id}, :title => task.description %>
    </td>
  </tr>
<tr>
    <td>
      <p id="edit_user_<%= task.id %>" class="editable">
        <%= image_tag("/plugin_assets/redmine_sprints/images/user.png", :class => "middle") -%>
        <b><%= User.find(task.assigned_to_id).login unless task.assigned_to_id.nil? -%></b>
        <span style="display:none;">
          <%= select :user, :id, project_users.collect{|u|[u.name, u.id]},{:id => "issue_assign_to_#{task.id}", :include_blank => true, :selected => task.assigned_to_id},
                                {:onChange => remote_function(:url => {:controller => :issue_sprints,
                                                        :action => "update_task", :project_id => @project, :task_id => task.id,
                                                        :field => "assigned_to_id", :model => "User"},
                                                        :with => "'value=' + this.value")} %>
        </span>
      </p>
    </td>
    <td  id="edit_status_<%= task.id %>" style="text-align:right;" class="editable">
      <%= t("status") %>: <span><%= task.status.name %></span>
        <span style="display:none;">
          <%= select :issue_status, :id, issue_statuses.collect{|s|[s.name, s.id]}, { :selected => task.status.id},
                                {:onChange => remote_function(:url => {:controller => :issue_sprints,
                                                        :action => "update_task", :project_id => @project, :task_id => task.id,
                                                        :field => "status_id", :model => "IssueStatus"},
                                                        :with => "'value=' + this.value")} %>
        </span>
    </td>
    <td></td>
  </tr>
</table>
</div>
</div>
</div>
<%= draggable_element "task_#{task.id}".to_sym, :ghosting =>  false %>


<script type="text/javascript">
      $$('#edit_status_<%= task.id %> span:first-child').each(function(item){
          item.observe('click', function(){
              this.hide();
              this.siblings().each(Element.show);
          });
      });
      $('edit_user_<%= task.id %>').observe('click', function(){
          this.childElements().each(function(item){
              if(item.match('b')){
                  item.hide();
              }
              if(item.match('span')){
                  item.show();
              }
          });
//          this.siblings().each(Element.show);
      });
</script>
