 <td class="tab_sprint_time"><p><%= image_tag("/plugin_assets/redmine_sprints/images/time.png", :class => "middle") %>  <%= sprint.duration -%> dni</p></td>
 <td><b>Punkty <%= data[:done] %>/<%= data[:all_points] %></b></td>
 <td class="tab_sprint_end"><p><%= image_tag("/plugin_assets/redmine_sprints/images/time_end.png", :class => "middle") %> Koniec: <%= sprint.effective_date %></p></td>
